<div class="container-fluid">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="search-box-wrapper">
                <div class="row vdivide">
                    <div class="col-md-6">
                        <h4 class="text-center">
                            Search by Bank name and City name
                        </h4>
                        <form name="cityBankForm"
                              ng-submit="vm.getBranchesByBankCity()"
                              novalidate>

                            <label for="bank">Enter Bank name :</label>
                            <input ng-model="vm.cityBank.bank"
                                   placeholder="e.g. State Bank of India" id="bank"
                                   type="text" class="form-control" required>
                            <br>

                            <label for="city">Enter City :</label>
                            <input ng-model="vm.cityBank.city"
                                   placeholder="e.g. Pune"
                                   type="text" class="form-control" id="city" required>
                            <br>
                            <button type="submit" ng-disabled="cityBankForm.$invalid"
                                    class="btn text-center btn-primary">Search Branches
                            </button>
                        </form>
                    </div>
                    <div class="col-md-6 ">
                        <h4 class="text-center">
                            Search by IFSC code
                        </h4>
                        <form name="bankIFSCForm"
                              ng-submit="vm.getBranchesByIFSC()"
                              class="bank-IFSC-Form" novalidate>
                            <label for="ifsc">Enter IFSC code :</label>
                            <input type="text" ng-model="vm.bankIFSC.ifsc_code"
                                   placeholder="e.g. ABHY0065001"
                                   class="form-control" id="ifsc"
                                   required>
                            <br>
                            <button type="submit" ng-disabled="bankIFSCForm.$invalid"
                                    class="btn text-center btn-primary">Search Branch
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.banks.length" class="alert alert-success" role="alert"> {{ vm.banks.length }} record found!</div>

    <div class="alert alert-warning alert-dismissible" ng-if="vm.errorMessage" role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{vm.errorMessage}}
    </div>

    <div class="bank-card-wrapper row">
        <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="bank in vm.banks">
            <div class="thumbnail bank-card">
                <table class="table table-striped">
                    <tr>
                        <th>IFSC</th>
                        <td>{{ bank.ifsc }}</td>
                    </tr>
                    <tr>
                        <th>Branch</th>
                        <td>{{ bank.branch }}</td>
                    </tr>
                    <tr>
                        <th>District</th>
                        <td>{{ bank.district }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ bank.city }}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{ bank.state }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ bank.address }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>